
*.apk
*.aar
*.ap_


*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


.idea/
/captures/
/output.json


*.jks
*.keystore

*.hprof

*.log


*.swp

*.temp
*.tmp
*.bak
*.orig
*.patch

*~

crashlytics.properties
fabric.properties
app/fabric.properties